﻿<md-content>
    <md-list layout="column" layout-align="space-between">
        <md-list-item ng-repeat="test in LogsData | orderBy: 'id': true">
            <div flex>
                    <span class="md-title" style="cursor: hand; outline: none;" ng-click="toggleTopDown(test)">
                        {{test.Command}} - {{$root.User.FullName}}
                    <br>
                        <span class="md-subhead">
                            {{test.ExecutedOn | date: 'MMM d, y h:mm:ss a'}}
                        </span>
                        <span style="float: right;">
                            <i ng-show="checkStatus(test)" class="material-icons">keyboard_arrow_up</i>
                            <i ng-hide="checkStatus(test)" class="material-icons">keyboard_arrow_down</i>
                            </span>
                        </span>
                <md-divider></md-divider>
                <div ng-show="checkStatus(test)">
                    <md-list class="md-caption">
                        <md-list-item>
                            <div flex>
                                <md-list class="md-body-2">
                                    <b>Updated fields:</b>
                                    <md-list-item ng-repeat="(key,value) in test.DataObject">
                                        <b>{{key}}</b>: {{value}}
                                    </md-list-item>
                                </md-list>
                            </div>
                        </md-list-item>
                    </md-list>
                </div>
            </div>
        </md-list-item>
        <md-divider></md-divider>
    </md-list>
    <md-button ng-click="$root.close()" class="md-primary">
        Close
    </md-button>
</md-content>