<md-edit-dialog>
    <div class="md-content">
        <md-autocomplete md-autofocus
                         md-selected-item="NixObject['NixAutoComplete']"
                         md-search-text-change="ItemChanged(NixObject)"
                         md-search-text="ctrl.searchText"
                         md-selected-item-change="ItemChanged(NixObject)"
                         md-items="obj in item.AdditionalData"
                         md-item-text="obj.Name"
                         md-min-length="0" class="md-input dialogAutocomplete"
                         placeholder="Name"
                         ng-class="!NixObject.IsValid(item.name) && NixConfig.Validation ? 'has-error' : ''">
            <md-item-template>
                                <span md-highlight-text="ctrl.searchText"
                                      md-highlight-flags="^i">{{obj.Name}}</span>
            </md-item-template>
            <md-not-found>
                No states matching "{{ctrl.searchText}}" were found.
                <a ng-click="">Create a new one!</a>
            </md-not-found>
        </md-autocomplete>
    </div>
    <div layout="row" layout-align="end"
         class="md-actions ng-scope layout-align-end-stretch layout-row">
        <button class="md-primary md-button md-ink-ripple" type="button"ng-click="dismiss()"
                aria-label="Cancel">
            <span>Cancel</span>
        </button>
        <button class="md-primary md-button md-ink-ripple" type="button" ng-click="submit()"
                aria-label="Save">
            <span>Save</span>
        </button>

    </div>
</md-edit-dialog>