<div layout="row" layout-wrap>

  <!--Toggle Search-->
  <!--<md-icon class="material-icons">search</md-icon>-->

  <div class="md-toolbar-tools" ng-if="!NixConfig.SearchOpen" ng-hide="showTextFilter" flex>
    <h2 class="md-title" ng-if="NixConfig.showTitle">{{NixConfig.GridTitle ||
      NixConfig.DataContext.NixObjectType}}</h2>

    <div flex="" class="flex"></div>

    <button ng-if="!NixConfig.SearchOpen" class="md-icon-button md-button md-ink-ripple" type="submit"
            ng-click="searchFocus()">
      <md-icon class="material-icons">filter_list</md-icon>
    </button>
    <!--<button ng-if="NixConfig.CreateNew" class="md-icon-button md-button md-ink-ripple" type="button"-->
    <!--ng-click="NixConfig.CreateNew()">-->
    <!--<md-icon class="material-icons">add_circle</md-icon>-->
    <!--</button>-->
  </div>
  <div class="md-table-toolbar" ng-if="showTextFilter || NixConfig.SearchOpen" layout-align="center center"
       layout="row" layout-wrap flex>
    <div ng-repeat="field in NixConfig.NixFields" flex>

      <!--String Filter-->
      <md-input-container ng-if="field.dataType == 'string' || field.dataType == 'text'" name="filter.form"
                          style="width: 80%">
        <label>{{field.placeholder}}</label>
        <input type="text" ng-model="field.data"
               ng-keydown="SearchFilterEvent($event,field)"
               class="ng-pristine ng-valid ng-touched" aria-invalid="false" flex="100">
      </md-input-container>

      <!--Date Filter-->
      <div layout="column" ng-if="field.dataType == 'datetime'" style="width: 80%" layout="row">
        <!--<md-checkbox ng-if="field.DateDisable != null" ng-model="field.DateDisable"-->
        <!--aria-label="Checkbox 1" flex>Disable Date-->
        <!--</md-checkbox>-->
        <div ng-if="(field.DateDisable == null || field.DateDisable == false )" flex>
          <div layout="row">
            <label class="dateLabel">{{field.placeholder}}</label>
          </div>
          <div layout="row">
            <md-datepicker type="text" ng-model="field.data" style="width: 100%"
                           placeholder="field.placeholder"
                           class="ng-pristine ng-valid ng-touched" aria-invalid="false"
                           md-placeholder="{{field.placeholder}}"></md-datepicker>
          </div>
          <!--  ng-change="FilterFunction(field)"-->
        </div>

      </div>

      <!--Number-->
      <div layout="column" ng-if="field.dataType == 'decimal' || field.dataType == 'int'" layout="row" flex>
        <md-input-container name="filter.form"
                            style="width: 80%">
          <label>{{field.placeholder}}</label>
          <input type="number" ng-model="field.data"
                 ng-keydown="SearchFilterEvent($event,field)"
                 class="ng-pristine ng-valid ng-touched" aria-invalid="false" flex="100">
        </md-input-container>
        <!-- ng-change="FilterFunction(field)"-->

      </div>

      <!--Slider-->
      <div layout="column" ng-if="field.dataType == 'slider'" style="width: 80%" layout="row" flex>
        <label>{{item.name}}</label>
        <md-slider flex md-discrete ng-model="field.data" step="1" min="1" max="10"
                   aria-label="rating">
        </md-slider>
        <!-- ng-change="FilterFunction(field)"-->

      </div>

      <!-- Select Filter-->
      <md-input-container ng-if="field.dataType == 'select'" style="width: 80%;overflow: hidden;">
        <label>{{field.placeholder}}</label>
        <md-select multiple ng-model="field.data" ng-if="field.multi == true" ng-change="checkAutoSearch(field)">
          <md-option ng-value="opt.value" ng-repeat="opt in field.fieldOptions">{{ opt.name }}</md-option>
        </md-select>
        <md-select ng-model="field.data" ng-if="field.multi == false" ng-change="checkAutoSearch(field)">
          <md-option ng-value="opt.value" ng-repeat="opt in field.fieldOptions">{{ opt.name }}</md-option>
        </md-select>
      </md-input-container>
      <!-- ng-change="FilterFunction(field)"-->
    </div>

    <!--Search or toggle search-->
    <div layout="row" flex="10">
      <button ng-if="NixConfig.OnClick" class="md-icon-button md-button md-ink-ripple" type="button"
              ng-click="SearchClick()" flex>
        <md-icon class="material-icons">find_replace</md-icon>
      </button>
      <button ng-if="!NixConfig.SearchOpen" class="md-icon-button md-button md-ink-ripple" type="button"
              ng-click="CloseFilter()" flex>
        <md-icon class="material-icons">close</md-icon>
      </button>
    </div>

  </div>

</div>
