﻿<form class="form-horizontal " style=" overflow: hidden !important; white-space: nowrap;" role="form">
  <div ng-repeat="item in NixConfig.NixFields" class="form-group">
    <div ng-if="item.datatype != 'percent'"
         ng-class="NixConfig.ShowLabels ? 'col-sm-12' : 'col-sm-12'">
      <!--Text Inputs-->
      <!--item.dataType!='select' && item.dataType!='checkBox' && item.dataType !='text' && item.dataType!= 'dateSelect' && item.dataType !='number' && item.dataType!='datetime'-->
      <div
        ng-if=" (item.dataType == 'string' || (item.dataType == 'link' && item.readOnly == false)) && (item.AdditionalData.length == 0)"
        ng-class="!NixObject.IsValid(item.name) && NixConfig.Validation ? 'has-error' : ''">
        <md-tooltip ng-if="!NixObject.IsValid(item.name) && NixConfig.Validation" md-visible="true"
                    md-direction="top">
          Required
        </md-tooltip>
        <md-input-container ng-if="NixConfig.IsEditable" class="md-block" flex-gt-sm>
          <label>{{item.label}}</label>
          <input ng-model="NixObject[item.name]" ng-disabled="item.readOnly || !NixConfig.IsEditable"
                 ng-required="!item.nullable">
        </md-input-container>
        <md-input-container ng-if="!NixConfig.IsEditable" class="md-block" flex-gt-sm>
          <label>{{item.label}}</label>
          <input ng-model="NixObject[item.name]" readonly="readonly">
        </md-input-container>

        <div ng-if="item.name == 'InvoiceNumber'" class=" form-right-btn"
             style="position:absolute; bottom: 5px;right: -40px;">
          <button ng-show="currentInvoice.InvoiceStatus != 'sent' && currentInvoice.InvoiceStatus != 'payed'"
                  class="btn btn-primary" ng-click="GetInvoiceNumber()"><span
            class="glyphicon glyphicon-refresh"></span></button>
        </div>

      </div>

      <!--Refference array datatype-->
      <!--{{item.dataType}} - {{ Nix.AppEnum.DataTypes.RefArray }}-->
      <!--<div ng-if="item.dataType == 'reference_array'">-->
      <!--{{NixObject[item.name]}}-->
      <!--<nixgrid nixconfig="NixObject[item.name]"></nixgrid>-->
      <!--</div>-->

      <div ng-if="item.dataType == 'reference_array'">
        <nixgrid nixconfig="NixObject[item.name].Config || GetDirectivesConfig(NixObject[item.name])"></nixgrid>
      </div>

      <div ng-if="item.dataType == 'reference_object'">
        <!--<nixgrid nixconfig="NixObject[item.name].Config || GetDirectivesConfig(NixObject[item.name])"></nixgrid>-->
        <!--{{NixObject[item.name].DataContext.Data[0]}}-->
        <nixform nixconfig="NixObject[item.name].Config || GetDirectivesConfig(NixObject[item.name])"
                 nixobject="NixObject[item.name].DataContext.Data[0]"></nixform>
      </div>

      <div ng-if="item.dataType == 'password'"
           ng-class="!NixObject.IsValid(item.name) && NixConfig.Validation ? 'has-error' : ''">
        <md-tooltip ng-if="!NixObject.IsValid(item.name) && NixConfig.Validation" md-visible="true"
                    md-direction="top">
          Required
        </md-tooltip>
        <md-input-container ng-if="NixConfig.IsEditable" class="md-block" flex-gt-sm>
          <label>{{item.label}}</label>
          <input ng-model="NixObject[item.name]" type="password"
                 ng-disabled="item.readOnly || !NixConfig.IsEditable"
                 ng-required="!item.nullable">
        </md-input-container>
        <md-input-container ng-if="!NixConfig.IsEditable" class="md-block" flex-gt-sm>
          <label>{{item.label}}</label>
          <input ng-model="NixObject[item.name]" type="password" readonly="readonly">
        </md-input-container>

      </div>
      <!--Autocomplete-->
      <div ng-if="item.AdditionalData.length != 0 && item.dataType=='string'">
        <md-autocomplete
          ng-readonly="!NixConfig.IsEditable || item.readOnly"
          md-selected-item="item.SelectedAdditionalData"
          md-search-text-change="ItemChanged(NixObject, item)"
          md-search-text="ctrl.searchText"
          md-selected-item-change="ItemChanged(NixObject, item)"
          md-items="obj in item.AdditionalData"
          md-item-text="obj.Name"
          md-min-length="0"
          placeholder="{{item.placeholder}}"
          md-floating-label="{{item.placeholder}}"
          ng-class="!NixObject.IsValid(item.name) && NixConfig.Validation ? 'has-error' : ''">
          <md-item-template>
                            <span md-highlight-text="ctrl.searchText"
                                  md-highlight-flags="^i">{{obj.Name}}</span>
          </md-item-template>
          <md-not-found>
            No states matching "{{ctrl.searchText}}" were found.
            <a ng-click="">Create a new one!</a>
          </md-not-found>
        </md-autocomplete>
      </div>
      <!--Select input-->
      <div ng-if="item.dataType == 'select'">
        <md-input-container style="width: 100%">
          <label>{{item.placeholder}}</label>
          <md-select ng-model="NixObject[item.name]" ng-disabled="item.readOnly || !NixConfig.IsEditable"
                     ng-class="!NixObject.IsValid(item.name) && NixConfig.Validation ? 'has-error' : ''"
                     style="min-width: 200px;" ng-readonly="!NixConfig.IsEditable"
                     ng-required="!item.nullable">
            <!--<md-tooltip md-visible="{{!NixObject.IsValid(item.name) && NixConfig.Validation" style="background-color: red" md-direction="top">-->
            <!--Required-->
            <!--</md-tooltip>-->
            <md-option ng-if="item.nullable" ng-value="null">None</md-option>
            <md-option ng-if="NixObject[item.name] == null && !item.nullable"
                       ng-repeat="opt in item.fieldOptions"
                       ng-value="opt.value" ng-selected="$first">{{opt.label}}
            </md-option>
            <md-option ng-if="NixObject[item.name] != null || item.nullable"
                       ng-repeat="opt in item.fieldOptions"
                       ng-value="opt.value">{{opt.label}}
            </md-option>
            <!--<md-option ng-if="item.nullable" ng-value="null">None</md-option>-->
            <!--<md-option ng-repeat="opt in item.fieldOptions"-->
            <!--ng-value="opt.value" >{{opt.label}}-->
            </md-option>
          </md-select>

        </md-input-container>
      </div>

      <div ng-if="item.dataType == 'link' && item.readOnly == true">
        Click
        <a href="{{item.link + NixObject[item.name]}}" style="overflow: hidden">
          {{NixObject[item.name]}}</a> to see details.
      </div>
      <!--CheckBox input-->
      <div ng-if="item.dataType == 'checkBox' || item.dataType=='bit'"
           ng-class="!NixObject.IsValid(item.name) && NixConfig.Validation ? 'has-error' : ''">
        <!--<input class="faChkRnd" type="checkbox"-->
        <!--ng-model="NixObject[item.name]"/>-->
        <md-checkbox ng-model="NixObject[item.name]" ng-disabled="item.readOnly || !NixConfig.IsEditable">
          {{ item.label }} <span ng-if="exists(item, selected)">selected</span>
        </md-checkbox>
      </div>
      <!--TextArea input-->
      <div ng-if="item.dataType=='text'"
           ng-class="!NixObject.IsValid(item.name) && NixConfig.Validation ? 'has-error' : ''">
        <md-input-container class="md-block">
          <label>{{item.label}}</label>
          <!--<textarea ng-model="user.biography" md-maxlength="150"  ></textarea>-->
                <textarea ng-model="NixObject[item.name]" style="width: 100%;height: 200px;" rows="10"
                          ng-readonly="!NixConfig.IsEditable" md-select-on-focus></textarea>
        </md-input-container>
      </div>
      <div ng-if="item.dataType=='image'"
           ng-class="!NixObject.IsValid(item.name) && NixConfig.Validation ? 'has-error' : ''">

          <label><b>{{item.label}}</b></label>
        <md-input-container class="md-block">
          <!--<textarea ng-model="user.biography" md-maxlength="150"  ></textarea>-->
                <textarea ng-model="NixObject[item.name]" style="width: 100%;height: 200px;" rows="10"
                          ng-readonly="!NixConfig.IsEditable" md-select-on-focus></textarea>
        </md-input-container>
      </div>
      <!--Number and date inputs-->
      <div ng-if="item.dataType=='number' || item.dataType =='int' || item.dataType =='decimal'"
           ng-class="!NixObject.IsValid(item.name) && NixConfig.Validation ? 'has-error' : ''">
        <md-input-container class=" md-block">
          <!--md-icon-float md-icon-right-->
          <label>{{item.label}}</label>
          <!--<md-icon md-svg-src="img/icons/ic_card_giftcard_24px.svg"></md-icon>-->
          <input type="number" step="1" ng-readonly="item.readOnly || !NixConfig.IsEditable"
                 ng-model="NixObject[item.name]" ng-required="!item.nullable">
          <!--<md-icon md-svg-src="img/icons/ic_euro_24px.svg"></md-icon>-->
        </md-input-container>
      </div>
      <!--Slider input-->
      <div ng-if="item.dataType =='slider'">
        <label>{{item.name}}</label>
        <md-slider flex md-discrete ng-model="NixObject[item.name]" step="1" min="1" max="10"
                   aria-label="rating">
        </md-slider>

      </div>
      <!--datetime input-->


      <div ng-if="item.dataType=='datetime'"

           ng-class="!NixObject.IsValid(item.name) && NixConfig.Validation ? 'has-error' : ''">
        <div layout="column">
          <!--<div layout="row">-->
          <!--<label class="dateLabel">{{item.label}}</label>-->
          <!--</div>-->
          <div layout="row">
            <mdp-date-picker mdp-open-on-click mdp-format="DD/MM/YYYY"
                             mdp-disabled="item.readOnly || !NixConfig.IsEditable"
                             mdp-placeholder="{{placeholder + item.label}}" ng-model="NixObject[item.name]"
                             flex>
              <div ng-if="!NixObject.IsValid(item.name) && NixConfig.Validation">
                <div>This is required</div>
              </div>
            </mdp-date-picker>
            <!--<mdp-time-picker mdp-open-on-click mdp-disabled="item.readOnly || !NixConfig.IsEditable"-->
            <!--ng-model="NixObject[item.name]" flex></mdp-time-picker>-->
          </div>
        </div>
      </div>
      <!--Date picker-->
      <div ng-if="item.dataType=='date'"
           ng-class="!NixObject.IsValid(item.name) && NixConfig.Validation ? 'has-error' : ''">
        <div layout="column">
          <div layout="row">
            <mdp-date-picker mdp-open-on-click mdp-format="DD/MM/YYYY"
                             mdp-disabled="item.readOnly || !NixConfig.IsEditable"
                             mdp-placeholder="{{placeholder + item.label}}" ng-model="NixObject[item.name]"
                             flex>
              <div ng-if="!NixObject.IsValid(item.name) && NixConfig.Validation">
                <div>This is required</div>
              </div>
            </mdp-date-picker>
          </div>
        </div>
      </div>
      <!--time picker-->
      <div ng-if="item.dataType=='time'"
           ng-class="!NixObject.IsValid(item.name) && NixConfig.Validation ? 'has-error' : ''">
        <!--<md-input-container>-->
        <!--<label>{{item.label}}</label>-->
        <!--<input type="time" mdp-open-on-click ng-disabled="item.readOnly" ng-model="NixObject[item.name]" mdp-time-picker/>-->
        <!--</md-input-container>-->
        <mdp-time-picker mdp-open-on-click mdp-disabled="item.readOnly || !NixConfig.IsEditable"
                         mdp-placeholder="{{placeholder + item.label}}"
                         ng-model="NixObject[item.name]" flex></mdp-time-picker>
      </div>
      <div ng-if="item.dataType=='html'"
           ng-class="!NixObject.IsValid(item.name) && NixConfig.Validation ? 'has-error' : ''">
        <label><b>{{item.label}}</b></label>
        <md-input-container class="md-block">
          <text-angular ng-model="NixObject[item.name]" style="width: 100%;height: 200px;" rows="10" wrap="hard"
                        ng-readonly="!NixConfig.IsEditable" md-select-on-focus></text-angular>
        </md-input-container>
      </div>
    </div>
    <div>
      <div ng-if="item.dataType == 'percent'" ng-class="NixConfig.ShowLabels ? 'col-sm-5' : 'col-sm-9'">
        <div ng-if="item.dataType=='percent'"
             ng-class="!NixObject.IsValid(item.name) && NixConfig.Validation ? 'has-error' : ''">
          <div layout="row">
            <div ng-if="!NixConfig.ShowPlaceholders" flex="95" layout="column">
              <md-input-container>
                <input type="number" ng-required="!item.nullable" ng-readonly="!NixConfig.IsEditable"
                       ng-model="NixObject[item.name]">
              </md-input-container>
            </div>

            <div ng-if="NixConfig.ShowPlaceholders" flex="95" layout="column">

              <md-input-container>
                <label>{{item.label}}</label>
                <input type="number" ng-required="!item.nullable" ng-readonly="!NixConfig.IsEditable"

                       ng-model="NixObject[item.name]">
              </md-input-container>
            </div>
            <div ng-if="item.dataType == 'percent'" flex="5" layout="column" class="custom">

              <i ng-click="GetInvoiceNumber()" class="fa fa-percent custom_md_icon"></i>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</form>



