<div flex>
  <!--<md-toolbar class="md-table-toolbar md-default" ng-hide="options.rowSelection && selected.length">-->
  <!--<div class="md-toolbar-tools">-->
  <!--<span>{{NixConfig.GridTitle}}</span>-->

  <!--<div flex></div>-->
  <!--<button ng-if="NixConfig.Search && !NixConfig.SearchOpen" class="md-icon-button md-button md-ink-ripple" type="submit"-->
  <!--ng-click="searchFocus()">-->
  <!--<md-icon class="material-icons">filter_list</md-icon>-->
  <!--</button>-->
  <!--<button ng-if="NixConfig.CreateNew" class="md-icon-button md-button md-ink-ripple" type="button"-->
  <!--ng-click="NixConfig.CreateNew()">-->
  <!--<md-icon class="material-icons">add_circle</md-icon>-->
  <!--</button>-->
  <!--</div>-->
  <!--</md-toolbar>-->

  <!--<md-toolbar class="md-table-toolbar md-default" ng-if="showTextFilter"-->
  <!--aria-hidden="false" style="">-->
  <!--<div class="md-toolbar-tools">-->
  <!--&lt;!&ndash;type of serach&ndash;&gt;-->
  <!--<md-icon class="material-icons"></md-icon>-->

  <!--<md-input-container ng-if="NixConfig.Search && NixConfig.ShowSearchInput" flex="" name="filter.form"-->
  <!--class="ng-pristine ng-valid flex">-->
  <!--<input type="text" ng-model="NixConfig.SearchFilter" placeholder="search" id="searchfield"-->
  <!--ng-keydown="SearchFilterEvent($event)"-->

  <!--class="ng-pristine ng-valid ng-touched" aria-invalid="false" style="">-->
  <!--</md-input-container>-->

  <!--&lt;!&ndash;<div flex></div>&ndash;&gt;-->
  <!--<div layout="column" flex ng-if="NixConfig.StartDate">-->
  <!--<div layout="row">-->
  <!--<label class="dateLabel">StartDateLabel</label>-->
  <!--</div>-->
  <!--<div layout="row">-->
  <!--<md-datepicker ng-if="NixConfig.Search" type="text" ng-model="NixConfig.StartDate"-->

  <!--placeholder="search"-->
  <!--class="ng-pristine ng-valid ng-touched" aria-invalid="false"-->
  <!--md-placeholder="StartDateLabel"></md-datepicker>-->
  <!--</div>-->
  <!--</div>-->

  <!--<div layout="column" flex ng-if="NixConfig.EndDate">-->
  <!--<div layout="row">-->
  <!--<label class="dateLabel">StartDateLabel</label>-->
  <!--</div>-->
  <!--<div layout="row">-->
  <!--&lt;!&ndash;//flex="50"&ndash;&gt;-->
  <!--<md-datepicker ng-if="NixConfig.Search" type="text" ng-model="NixConfig.EndDate"-->
  <!--placeholder="search"-->
  <!--class="ng-pristine ng-valid ng-touched" aria-invalid="false"-->
  <!--md-placeholder="StartDateLabel"></md-datepicker>-->
  <!--</div>-->
  <!--</div>-->
  <!--&lt;!&ndash;/type of search&ndash;&gt;-->
  <!--<md-checkbox ng-if="NixConfig.DisableDate != null" ng-model="NixConfig.testDate" ng-change="ClickEnableDate()"-->
  <!--aria-label="Checkbox 1">Enable Date-->
  <!--</md-checkbox>-->
  <!--<button ng-if="NixConfig.Search && !NixConfig.SearchOpen" class="md-icon-button md-button md-ink-ripple" type="button"-->
  <!--ng-click="NixConfig.Search()">-->
  <!--<md-icon class="material-icons">find_replace</md-icon>-->
  <!--</button>-->
  <!--<button ng-if="NixConfig.Search && !NixConfig.SearchOpen" class="md-icon-button md-button md-ink-ripple" type="button"-->
  <!--ng-click="CloseFilter()">-->
  <!--<md-icon class="material-icons">close</md-icon>-->
  <!--</button>-->
  <!--</div>-->
  <!--</md-toolbar>-->
  <!--Search date filter-->
  <!--<md-toolbar class="md-table-toolbar md-default" ng-if="showTextFilter && NixConfig.DateFilter"-->
  <!--aria-hidden="false" style="">-->
  <!--<div class="md-toolbar-tools">-->
  <!--&lt;!&ndash;type of serach&ndash;&gt;-->
  <!--<md-icon class="material-icons"></md-icon>-->

  <!--<md-input-container ng-if="NixConfig.Search && NixConfig.ShowSearchInput" flex="" name="filter.form"-->
  <!--class="ng-pristine ng-valid flex">-->
  <!--<input type="text" ng-model="NixConfig.SearchFilter" placeholder="search" id="searchfield"-->
  <!--ng-keydown="SearchFilterEvent($event)"-->

  <!--class="ng-pristine ng-valid ng-touched" aria-invalid="false" style="">-->
  <!--</md-input-container>-->

  <!--&lt;!&ndash;<div flex></div>&ndash;&gt;-->
  <!--<div layout="column" flex ng-if="NixConfig.StartDate">-->
  <!--<div layout="row">-->
  <!--<label class="dateLabel">StartDateLabel</label>-->
  <!--</div>-->
  <!--<div layout="row">-->
  <!--<md-datepicker ng-if="NixConfig.Search" type="text" ng-model="NixConfig.StartDate"-->

  <!--placeholder="search"-->
  <!--class="ng-pristine ng-valid ng-touched" aria-invalid="false"-->
  <!--md-placeholder="StartDateLabel"></md-datepicker>-->
  <!--</div>-->
  <!--</div>-->

  <!--<div layout="column" flex ng-if="NixConfig.EndDate">-->
  <!--<div layout="row">-->
  <!--<label class="dateLabel">StartDateLabel</label>-->
  <!--</div>-->
  <!--<div layout="row">-->
  <!--&lt;!&ndash;//flex="50"&ndash;&gt;-->
  <!--<md-datepicker ng-if="NixConfig.Search" type="text" ng-model="NixConfig.EndDate"-->
  <!--placeholder="search"-->
  <!--class="ng-pristine ng-valid ng-touched" aria-invalid="false"-->
  <!--md-placeholder="StartDateLabel"></md-datepicker>-->
  <!--</div>-->
  <!--</div>-->
  <!--&lt;!&ndash;/type of search&ndash;&gt;-->
  <!--<md-checkbox ng-if="NixConfig.DisableDate != null" ng-model="NixConfig.testDate" ng-change="ClickEnableDate()"-->
  <!--aria-label="Checkbox 1">Enable Date-->
  <!--</md-checkbox>-->
  <!--<button ng-if="NixConfig.Search && !NixConfig.SearchOpen" class="md-icon-button md-button md-ink-ripple" type="button"-->
  <!--ng-click="NixConfig.Search()">-->
  <!--<md-icon class="material-icons">find_replace</md-icon>-->
  <!--</button>-->
  <!--<button ng-if="NixConfig.Search && !NixConfig.SearchOpen" class="md-icon-button md-button md-ink-ripple" type="button"-->
  <!--ng-click="CloseFilter()">-->
  <!--<md-icon class="material-icons">close</md-icon>-->
  <!--</button>-->
  <!--</div>-->

  <!--</md-toolbar>-->

  <!--<md-toolbar class="md-table-toolbar alternate" ng-show="options.rowSelection && selected.length">-->
  <!--<div class="md-toolbar-tools">-->
  <!--<span>{{selected.length}} {{selected.length > 1 ? 'items' : 'item'}} selected</span>-->
  <!--</div>-->
  <!--</md-toolbar>-->

  <md-table-container>
    <table md-table md-row-select="options.rowSelection" multiple="{{options.multiSelect}}" ng-model="selected"
           md-progress="promise">
      <thead ng-if="!options.decapitate" md-head md-order="orderBy" md-on-reorder="logOrder">
      <tr md-row>
        <th md-column ng-if="NixConfig.IsEditable" style="width: 5px">&nbsp;</th>
        <th md-column ng-attr-md-numeric="field.dataType == 'decimal' || field.dataType == 'int'"
            md-order-by="{{field.name}}"
            ng-class="field.name"
            ng-repeat="field in NixConfig.NixFields"><span>{{field.label}}</span></th>

      </tr>
      </thead>
      <tbody md-body>

      <!--Main content-->
      <tr md-row md-select="dessert" md-on-select="logItem" md-auto-select="options.autoSelect"
          ng-click="RowClick(NixObject)"
          ng-repeat="NixObject in NixData | filter:FilterFunction"
          ng-class="{active: (hover && !NixConfig.IsEditable) || IsItemSelected(NixObject),'{{getRowClass(NixObject).class}}': (getRowClass(NixObject).show && !NixConfig.IsEditable)}"
          ng-click="RowClick(NixObject);selectedIndex(this)"
          md-select="NixObject"
          ng-hide="NixObject.NixObjectState == 'deleted'" md-auto-select
          ng-mouseenter="hover = true" ng-mouseleave="hover = false" isrow="true">
        <!--button X-->
        <td md-cell ng-if="NixConfig.IsEditable" class="buttonX" ng-click="deleteObject(NixObject)">
          <i class="material-icons">delete_forever</i>
        </td>

        <!--Not Editable grid td-->
        <td md-cell ng-if="!NixConfig.IsEditable" ng-repeat="item in NixConfig.NixFields"
            ng-class="addClass(item.name,'Td')">

          <div ng-if="item.dataType == 'link'">
            <a href="{{item.link}}" style="overflow: hidden">
              {{NixObject[item.name]}}</a>
          </div>
          <div ng-if="item.dataType == 'string' || item.dataType == 'text' || item.dataType =='varchar'">
            <p> {{NixObject[item.name]}}</p>
          </div>
          <div ng-if="item.dataType == 'int' ">
            <p> {{NixObject[item.name] | number}}</p>
          </div>
          <div ng-if="item.dataType == 'enum'">
            <p> {{Enum(item,NixObject[item.name])}}</p>
          </div>
          <div ng-if="item.dataType == 'decimal' ">
            <p> {{NixObject[item.name] | number:NixConfig.DecimalPlaces}}</p>
          </div>
          <div ng-if="item.dataType == 'datetime'">
            <!--<p>{{NixObject.DateFormat(NixObject[item.name])}}</p>-->
            <span>{{ NixObject[item.name] | amDateFormat:'DD MM YYYY'}}</span>
          </div>
          <div ng-if="item.dataType == 'dateandtime'">
            <span>{{ NixObject[item.name] | amDateFormat:'DD.MM.YYYY - HH:mm'}}</span>
          </div>
          <div ng-if="item.dataType == 'time'">
            <!--<p>{{NixObject.DateFormat(NixObject[item.name])}}</p>-->
            <span>{{ NixObject[item.name] | amDateFormat:'HH:mm:ss'}}</span>
          </div>
          <div ng-if="item.dataType =='select'" ng-repeat="val in item.fieldOptions">
            <p ng-show="val.value == NixObject[item.name]">
              {{val.label}}</p>
          </div>
          <div ng-if="item.dataType == 'bit' || item.dataType == 'checkbox'">
            <input class="faChkRnd" type="checkbox" readonly="true" ng-required="!item.nullable"
                   ng-model="NixObject[item.name]" ng-disabled="item.readOnly"/>
          </div>
          <div ng-if="item.dataType == 'status'">
                <span ng-if="NixObject[item.name] == 'sent'"
                      class="label label-primary">{{NixObject[item.name]}}</span>
            <span ng-if="NixObject[item.name] == 'draft'"
                  class="label label-warning">{{NixObject[item.name]}}</span>

            <span ng-if="NixObject[item.name] == 'payed'"
                  class="label label-success">{{NixObject[item.name]}}</span>
            <span ng-if="NixObject[item.name] == 'expected'"
                  class="label label-success">{{NixObject[item.name]}}</span>
            <span ng-if="NixObject[item.name] == 'canceled'"
                  class="label label-error">{{NixObject[item.name]}}</span>
            <span ng-if="NixObject[item.name] == 'AllInternal'"
                  class="label label-warning">{{NixObject[item.name]}}</span>
            <span ng-if="NixObject[item.name] == 'internal'" class="label label-warning">{{NixObject[item.name]}}</span>
            <span ng-if="NixObject[item.name] == 'externaltointernal'" class="label label-warning">{{NixObject[item.name]}}</span>
            <span ng-if="NixObject[item.name] == 'internaltoexternal'" class="label label-warning">{{NixObject[item.name]}}</span>
            <span ng-if="NixObject[item.name] == 'Internal'"
                  class="label label-warning">{{NixObject[item.name]}}</span>
            <span ng-if="NixObject[item.name] == 'Income'"
                  class="label label-warning">{{NixObject[item.name]}}</span>
            <span ng-if="NixObject[item.name] == 'Expense'"
                  class="label label-warning">{{NixObject[item.name]}}</span>
          </div>

          <div ng-if="item.dataType == 'reference_array'">
            <nixgrid nixconfig="NixObject[item.name].Config || GetDirectivesConfig(NixObject[item.name])"></nixgrid>
          </div>

          <div ng-if="item.dataType == 'reference_object'">
            <!--<nixgrid nixconfig="NixObject[item.name].Config || GetDirectivesConfig(NixObject[item.name])"></nixgrid>-->
            <!--{{NixObject[item.name].DataContext.Data[0]}}-->
            <nixform nixconfig="NixObject[item.name].Config || GetDirectivesConfig(NixObject[item.name])"
                     nixobject="NixObject[item.name].DataContext.Data[0]"></nixform>
          </div>

        </td>

        <!--Editable Dialog grid td-->
        <td md-cell ng-if="NixConfig.IsEditable && NixConfig.DialogEdit" ng-class="field.name + 'editableDialogTd'"
            ng-click="editComment($event, item,NixObject,item.dataType,item.placeholder)"
            ng-repeat="item in NixConfig.NixFields">

          <div ng-if="item.dataType == 'select'">
            <!--Select Input-->
            <md-select ng-if="item.dataType=='select'" ng-required="!item.nullable"
                       ng-class="!NixObject.IsValid(item.name) && NixConfig.Validation ? 'has-error' : ''"
                       placeholder="{{item.placeholder}}" ng-model="NixObject[item.name]"
                       style="min-width: 200px;">
              <md-option ng-if="item.nullable" ng-value="">None</md-option>
              <md-option ng-repeat="opt in item.fieldOptions" ng-value="opt.value">{{opt.label}}
              </md-option>
            </md-select>
          </div>
          <div ng-if="item.dataType == 'int' || item.dataType == 'decimal' ">
            <span ng-if="item.dataType == 'int'"> {{NixObject[item.name] | number}}</span>
            <span ng-if="item.dataType == 'decimal'"> {{NixObject[item.name] | number:NixConfig.DecimalPlaces}}</span>
          </div>
          <div ng-if="item.dataType == 'string' || item.dataType == 'text' || item.dataType == 'varchar'">
            <span> {{NixObject[item.name] || item.placeholder}}</span>
          </div>
        </td>

        <!--Editable Input grid td-->
        <td md-cell ng-if="NixConfig.IsEditable && !NixConfig.DialogEdit" ng-class="field.name + 'EditableTd'"
            ng-repeat="item in NixConfig.NixFields">

          <!--Select Input-->
          <div ng-if="item.dataType == 'select'">
            <md-select ng-if="item.dataType=='select'" ng-required="!item.nullable"
                       ng-class="!NixObject.IsValid(item.name) && NixConfig.Validation ? 'has-error' : ''"
                       placeholder="{{item.placeholder}}" ng-model="NixObject[item.name]"
                       style="min-width: 200px;">
              <md-option ng-if="item.nullable" ng-value="">None</md-option>
              <md-option ng-repeat="opt in item.fieldOptions" ng-value="opt.value">{{opt.label}}
              </md-option>
            </md-select>
          </div>
          <!--NumberInput-->
          <div ng-if="item.dataType == 'int' || item.dataType == 'decimal' ">
            <md-input-container class=" md-block"
                                ng-class="!NixObject.IsValid(item.name) && NixConfig.Validation ? 'has-error' : ''">
              <!--md-icon-float md-icon-right-->
              <label>{{item.placeholder}}</label>
              <!--<md-icon md-svg-src="img/icons/ic_card_giftcard_24px.svg"></md-icon>-->
              <input type="number" class="numberInput" step="0.01" ng-readonly="item.readOnly"
                     ng-required="!item.nullable"
                     ng-model="NixObject[item.name]">
              <!--<md-icon md-svg-src="img/icons/ic_euro_24px.svg"></md-icon>-->
            </md-input-container>
          </div>
          <!--TextBox-->
          <div ng-if="item.AdditionalData.length == 0 && (item.dataType == 'string')">
            <md-input-container class="md-block">
              <label>{{item.label}}</label>
              <input type="text" ng-model="NixObject[item.name]" ng-required="!item.nullable">
            </md-input-container>
          </div>
          <!--Autocomplete-->
          <div ng-if="item.AdditionalData.length != 0 && item.dataType=='string'">
            <md-autocomplete
              md-selected-item="NixObject['NixAutoComplete']"
              md-search-text-change="ItemChanged(NixObject)"
              md-search-text="ctrl.searchText"
              md-selected-item-change="ItemChanged(NixObject)"
              md-items="obj in item.AdditionalData"
              md-item-text="obj.Name"
              md-min-length="0"
              placeholder="Name"
              ng-class="!NixObject.IsValid(item.name) && NixConfig.Validation ? 'has-error' : ''">
              <md-item-template>
                            <span md-highlight-text="ctrl.searchText"
                                  md-highlight-flags="^i">{{obj.Name}}</span>
              </md-item-template>
              <md-not-found>
                No states matching "{{ctrl.searchText}}" were found.
                <a ng-click="">Create a new one!</a>
              </md-not-found>
            </md-autocomplete>
          </div>
          <!--TextArea-->
          <div ng-if="item.dataType=='text'">
            <md-input-container class="md-block"
                                ng-class="!NixObject.IsValid(item.name) && NixConfig.Validation ? 'has-error' : ''">
              <label>{{item.label}}</label>
              <!--<textarea ng-model="user.biography" md-maxlength="150"  ></textarea>-->
              <textarea ng-model="NixObject[item.name]"
                        style="width: 100%;height: 200px;"
                        ng-readonly="!NixConfig.IsEditable" ng-required="!item.nullable"
                        md-select-on-focus>
                            </textarea>
            </md-input-container>
          </div>
          <!--Link field-->
          <div ng-if="item.dataType == 'link'">
            <a href="{{item.link + NixObject[item.name]}}" style="overflow: hidden">
              {{NixObject[item.name]}}</a>
          </div>
        </td>

      </tr>
      <!--New Line-->
      <tr md-row ng-if="NixConfig.IsEditable && NixConfig.EnableNewLine" class="newField"
          ng-keydown="newLineKeyDown($event)"
          ng-click="NewLine()">
        <td md-cell colspan="{{ NixConfig.NixFields.length + 1}}"></td>
      </tr>
      </tbody>
    </table>
  </md-table-container>
  <md-table-pagination ng-if="NixConfig.ShowPaging"
                       md-limit="NixConfig.Size"
                       md-options="NixConfig.PagingSizeOptions"
                       md-page="NixConfig.Page" md-on-paginate="Pagination"
                       md-total="{{getTotalItems()}}"
                       md-page-select></md-table-pagination>
</div>
