<md-content class="md-padding">
    <md-tabs md-selected="selectedTab" md-border-bottom="" md-autoselect="" style="padding-bottom: 20px;">
        <md-tab ng-repeat="NixObject in NixData" ng-disabled="NixObject.disabled" label="{{NixObject.Title}}">
            <div ng-if="$index == selectedTab"  style="padding: 10px;">
                <div ng-if="!NixConfig.IsEditable"  ng-class="addClass(item.name,'Td')" ng-repeat="item in NixConfig.NixFields">
                        <div ng-if="item.dataType == 'link'">
                            <a href="{{item.link}}" style="overflow: hidden">
                                {{NixObject[item.name]}}</a>
                        </div>
                        <div ng-if="item.dataType == 'string' || item.dataType == 'text' || item.dataType =='varchar' || item.dataType =='text'">
                            <p> {{NixObject[item.name]}}</p>
                        </div>
                        <div ng-if="item.dataType == 'int' ">
                            <p> {{NixObject[item.name] | number}}</p>
                        </div>
                        <div ng-if="item.dataType == 'decimal' ">
                            <p> {{NixObject[item.name] | number:NixConfig.DecimalPlaces}}</p>
                        </div>
                        <div ng-if="item.dataType == 'datetime'">
                            <!--<p>{{NixObject.DateFormat(NixObject[item.name])}}</p>-->
                            <span>{{ NixObject[item.name] | amDateFormat:'DD MM YYYY'}}</span>
                        </div>
                        <div ng-if="item.dataType == 'time'">
                            <!--<p>{{NixObject.DateFormat(NixObject[item.name])}}</p>-->
                            <span>{{ NixObject[item.name] | amDateFormat:'HH:mm:ss'}}</span>
                        </div>
                        <div ng-if="item.dataType =='select'" ng-repeat="val in item.fieldOptions">
                            <p ng-show="val.value == NixObject[item.name]">
                                {{val.label}}</p>
                        </div>
                        <div ng-if="item.dataType == 'bit' || item.dataType == 'checkbox'">
                            <input class="faChkRnd" type="checkbox" readonly="true" ng-required="!item.nullable"
                                   ng-model="NixObject[item.name]"/>
                        </div>
                        <div ng-if="item.dataType == 'status'">
                <span ng-if="NixObject[item.name] == 'sent'"
                      class="label label-primary">{{NixObject[item.name]}}</span>
                <span ng-if="NixObject[item.name] == 'draft'"
                      class="label label-warning">{{NixObject[item.name]}}</span>

                <span ng-if="NixObject[item.name] == 'payed'"
                      class="label label-success">{{NixObject[item.name]}}</span>
                <span ng-if="NixObject[item.name] == 'expected'"
                      class="label label-success">{{NixObject[item.name]}}</span>
                        <span ng-if="NixObject[item.name] == 'canceled'"
                              class="label label-error">{{NixObject[item.name]}}</span>
                            <span ng-if="NixObject[item.name] == 'AllInternal'" class="label label-warning">{{NixObject[item.name]}}</span>
                            <span ng-if="NixObject[item.name] == 'internal'" class="label label-warning">{{NixObject[item.name]}}</span>
                            <span ng-if="NixObject[item.name] == 'externaltointernal'" class="label label-warning">{{NixObject[item.name]}}</span>
                            <span ng-if="NixObject[item.name] == 'internaltoexternal'" class="label label-warning">{{NixObject[item.name]}}</span>
                <span ng-if="NixObject[item.name] == 'Internal'"
                      class="label label-warning">{{NixObject[item.name]}}</span>
                <span ng-if="NixObject[item.name] == 'Income'"
                      class="label label-warning">{{NixObject[item.name]}}</span>
                <span ng-if="NixObject[item.name] == 'Expense'"
                      class="label label-warning">{{NixObject[item.name]}}</span>
                        </div>

                        <div ng-if="item.dataType == 'reference_array'">
                            <nixgrid
                                    nixconfig="NixObject[item.name].Config || GetDirectivesConfig(NixObject[item.name])"></nixgrid>
                        </div>

                        <div ng-if="item.dataType == 'reference_object'">
                            <!--<nixgrid nixconfig="NixObject[item.name].Config || GetDirectivesConfig(NixObject[item.name])"></nixgrid>-->
                            <!--{{NixObject[item.name].DataContext.Data[0]}}-->
                            <nixform
                                    nixconfig="NixObject[item.name].Config || GetDirectivesConfig(NixObject[item.name])"
                                    nixobject="NixObject[item.name].DataContext.Data[0]"></nixform>
                        </div>
                </div>
                <div ng-if="NixConfig.IsEditable && NixConfig.DialogEdit"  ng-class="field.name + 'editableDialogTd'"
                    ng-click="editComment($event, item,NixObject,item.dataType,item.placeholder)"
                    ng-repeat="item in NixConfig.NixFields">

                    <div ng-if="item.dataType == 'select'">
                        <!--Select Input-->
                        <md-select ng-if="item.dataType=='select'" ng-required="!item.nullable"
                                   ng-class="!NixObject.IsValid(item.name) && NixConfig.Validation ? 'has-error' : ''"
                                   placeholder="{{item.placeholder}}" ng-model="NixObject[item.name]"
                                   style="min-width: 200px;">
                            <md-option ng-if="item.nullable" ng-value="">None</md-option>
                            <md-option ng-repeat="opt in item.fieldOptions" ng-value="opt.value">{{opt.label}}
                            </md-option>
                        </md-select>
                    </div>
                    <div ng-if="item.dataType == 'int' || item.dataType == 'decimal' ">
                        <span ng-if="item.dataType == 'int'"> {{NixObject[item.name] | number}}</span>
                        <span ng-if="item.dataType == 'decimal'"> {{NixObject[item.name] | number:NixConfig.DecimalPlaces}}</span>
                    </div>
                    <div ng-if="item.dataType == 'string' || item.dataType == 'text' || item.dataType == 'varchar'">
                        <span> {{NixObject[item.name] || item.placeholder}}</span>
                    </div>
                </div>
                <div  ng-if="NixConfig.IsEditable && !NixConfig.DialogEdit" ng-class="field.name + 'EditableTd'"
                    ng-repeat="item in NixConfig.NixFields">

                    <!--Select Input-->
                    <div ng-if="item.dataType == 'select'" >
                        <md-select ng-if="item.dataType=='select'" ng-required="!item.nullable"
                                   ng-class="!NixObject.IsValid(item.name) && NixConfig.Validation ? 'has-error' : ''"
                                   placeholder="{{item.placeholder}}" ng-model="NixObject[item.name]"
                                   style="min-width: 200px;">
                            <md-option ng-if="item.nullable" ng-value="">None</md-option>
                            <md-option ng-repeat="opt in item.fieldOptions" ng-value="opt.value">{{opt.label}}
                            </md-option>
                        </md-select>
                    </div>
                    <!--NumberInput-->
                    <div ng-if="item.dataType == 'int' || item.dataType == 'decimal' ">
                        <md-input-container class=" md-block"
                                            ng-class="!NixObject.IsValid(item.name) && NixConfig.Validation ? 'has-error' : ''">
                            <!--md-icon-float md-icon-right-->
                            <label>{{item.placeholder}}</label>
                            <!--<md-icon md-svg-src="img/icons/ic_card_giftcard_24px.svg"></md-icon>-->
                            <input type="number" class="numberInput" step="0.01" ng-readonly="item.readOnly"
                                   ng-required="!item.nullable"
                                   ng-model="NixObject[item.name]">
                            <!--<md-icon md-svg-src="img/icons/ic_euro_24px.svg"></md-icon>-->
                        </md-input-container>
                    </div>
                    <!--TextBox-->
                    <div ng-if="item.AdditionalData.length == 0 && (item.dataType == 'string')" >
                        <md-input-container class="md-block">
                            <label>{{item.label}}</label>
                            <input type="text" ng-model="NixObject[item.name]" ng-required="!item.nullable">
                        </md-input-container>
                    </div>
                    <!--Autocomplete-->
                    <div ng-if="item.AdditionalData.length != 0 && item.dataType=='string'">
                        <md-autocomplete
                                md-selected-item="NixObject['NixAutoComplete']"
                                md-search-text-change="ItemChanged(NixObject)"
                                md-search-text="ctrl.searchText"
                                md-selected-item-change="ItemChanged(NixObject)"
                                md-items="obj in item.AdditionalData"
                                md-item-text="obj.Name"
                                md-min-length="0"
                                placeholder="Name"
                                ng-class="!NixObject.IsValid(item.name) && NixConfig.Validation ? 'has-error' : ''" >
                            <md-item-template>
                            <span md-highlight-text="ctrl.searchText"
                                  md-highlight-flags="^i">{{obj.Name}}</span>
                            </md-item-template>
                            <md-not-found>
                                No states matching "{{ctrl.searchText}}" were found.
                                <a ng-click="">Create a new one!</a>
                            </md-not-found>
                        </md-autocomplete>
                    </div>
                    <!--TextArea-->
                    <div ng-if="item.dataType=='text'">
                        <md-input-container class="md-block"
                                            ng-class="!NixObject.IsValid(item.name) && NixConfig.Validation ? 'has-error' : ''">
                            <label>{{item.label}}</label>
                            <!--<textarea ng-model="user.biography" md-maxlength="150"  ></textarea>-->
                            <textarea ng-model="NixObject[item.name]"
                                      style="width: 100%;height: 200px;"
                                      ng-readonly="!NixConfig.IsEditable" ng-required="!item.nullable"
                                      md-select-on-focus>
                            </textarea>
                        </md-input-container>
                    </div>
                    <!--Link field-->
                    <div ng-if="item.dataType == 'link'">
                        <a href="{{item.link + NixObject[item.name]}}" style="overflow: hidden">
                            {{NixObject[item.name]}}</a>
                    </div>
                </div >
                <br>
                <div layout="row">
                    <span flex></span>
                    <md-button ng-if="!NixObject.IsDirty()" class="md-primary md-raised" ng-click="removeObject( NixObject )" >Delete</md-button>
                    <md-button ng-if="NixObject.IsDirty()" class="md-primary md-raised" ng-click="cancelChanges( NixObject )" >Cancel</md-button>
                    <md-button ng-if="NixObject.IsDirty()" class="md-primary md-raised" ng-click="saveChanges( NixObject )" >Save</md-button>
                </div>
            </div>
        </md-tab>
    </md-tabs>
</md-content>