﻿<div class="DmsDirective">
    <!--ng-if="NixConfig.SelectButton"-->
    <div ng-show="NixConfig.SelectButton">
        <md-button class="md-primary md-raised" ngf-select="uploadFiles($files)" ng-model="files" ngf-multiple="true">
            Select File
        </md-button>
    </div>

    <!--ng-if="NixConfig.Drop"-->
    <div ng-show="NixConfig.Drop">
        <div ngf-drop="uploadFiles($files)" ngf-select="uploadFiles($files)" ng-model="files" class="drop-box"
             flex="100"
             ngf-drag-over-class="'dragover'" ngf-multiple="true">
            Drop Files Here
        </div>
    </div>
    <div ngf-no-file-drop>File Drag/Drop is not supported for this browser</div>
    <br>
    <!--<h3>Files for upload</h3>-->
    <!--<ul>-->
    <!--<li ng-repeat="file in files">{{file.name}}</li>-->
    <!--</ul>-->

    <!--<md-button class="md-warn md-raised" type="submit" ng-click="uploadFiles()">submit</md-button>-->
    <br>
    <div layout="row">
        <h3 flex="25">Upload Files:</h3>
        <md-progress-linear style="margin-top: 28px;" md-mode="determinate" value="{{Progress}}"
                            flex></md-progress-linear>
    </div>
    <div style="overflow: scroll;max-height: 200px">
        <ul>
            <li ng-repeat="FileInfo in FilesInfo">

                <span ng-click="showDetails(FileInfo)">{{FileInfo.Filename}}</span> <i class="material-icons"
                                                                                       ng-click="removeFile(FileInfo.ID,FilesInfo.indexOf(FileInfo))">delete_forever</i>
            </li>
        </ul>
    </div>
</div>